<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
        <script src="../../contronller/init.js"></script>
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/style.css">
		<style>
			html,
			body {
				background-color: #efeff4;
			}
			 #openWindowHeader{z-index: 1000;}
			   #openWindowHeader header .search{margin-left:30px;position: relative;}
			   #openWindowHeader header .search input{font-size:14px;display: inline-block;height: 36px;color:#FFFFFF;margin:0;margin-top:4px;padding-left:40px;padding-right:40px;background: #333333;border:0;border-bottom: 1px solid #000000;border-radius: 0;}
			   #openWindowHeader header .search i, #openWindowHeader header .search .mui-btn{position: absolute;top:0;left: 5px;}
			   #openWindowHeader header .search .mui-btn{right: 0px;left: auto;top:5px}
			   #openWindowHeader header .search i:after{position: fixed;height: 30px;width: 1px;background: #000000;}
			   .mui-table-view-cell .mui-navigate-right h1{font-size: 20px;}
			/*-------------------*/
			 .homeList ul{margin-top:20px;}
			 /*.homeList ul li{padding:5px 0;}*/
             .homeList ul li:last-child a{border: 0;}
             .homeList ul li a{position: relative;display: block;background: #fff;}
             .homeList ul li a{border-bottom: 1px solid #e1e1e1;}
             .homeList ul li a .userImg{width: 60px;height: 29px;overflow: hidden;position: absolute;top:19px;left:10px;border-radius: 3px;}
             .homeList ul li a .content{padding:10px 5px 10px 60px;}
             .homeList ul li a h1{font-size: 15px;color:#333;line-height: 26px;}
             .homeList ul li a button{position: absolute;top:13px;right: 5px;}
             .blog{margin-top:10px;}
             ul,li{display: block;list-style-type: none;    padding: 0;}

		</style>
	</head>
	<body onselectstart="return false;">
		<div id="openWindowHeader">
			<header class="mui-bar mui-bar-nav">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title mui-text-left" id="title">账号密码</h1>
				<!--<a class="mui-icon-contact mui-icon mui-pull-right"></a>-->
			</header>
		</div>
        <section class="homeList">
              <div class="blog">
					<ul>
						<h3 style="padding:10px;">账号   1</h3>
						<li>
							<a href="#chat_1" data-wid="view/dualpage/index.html" data-view="/view/dualpage/index.html" data-uri="http://114.115.137.212" class="mui-clearfix">
								<div class="userImg">
									账号：
								</div>
								<div class="content">
									<h1 class="mui-ellipsis">2056401341@qq.com</h1>
								</div>
								<button class="mui-btn mui-btn-blue">复制</button>
							</a>
						</li>
						<li>
							<a href="#chat_1" data-wid="view/dualpage/fullscreen.html" data-view="/view/dualpage/fullscreen.html" data-uri="https://m.baidu.com/" class="mui-clearfix">
								<div class="userImg">
									密码：
								</div>
								<div class="content">
									<h1 class="mui-ellipsis">123456</h1>
								</div>
								<button class="mui-btn mui-btn-blue">复制</button>
							</a>
						</li>
					</ul>
					<ul>
						<h3 style="padding:10px;">账号   2</h3>
						<li>
							<a href="#chat_1" data-wid="view/dualpage/index.html" data-view="/view/dualpage/index.html" data-uri="http://114.115.137.212" class="mui-clearfix">
								<div class="userImg">
									账号：
								</div>
								<div class="content">
									<h1 class="mui-ellipsis">2056401342@qq.com</h1>
								</div>
								<button class="mui-btn mui-btn-blue">复制</button>
							</a>
						</li>
						<li>
							<a href="#chat_1" data-wid="view/dualpage/fullscreen.html" data-view="/view/dualpage/fullscreen.html" data-uri="https://m.baidu.com/" class="mui-clearfix">
								<div class="userImg">
									密码：
								</div>
								<div class="content">
									<h1 class="mui-ellipsis">123456</h1>
								</div>
								<button class="mui-btn mui-btn-blue">复制</button>
							</a>
						</li>
					</ul>
					<ul>
						<h3 style="padding:10px;">账号   3</h3>
						<li>
							<a href="#chat_1" data-wid="view/dualpage/index.html" data-view="/view/dualpage/index.html" data-uri="http://114.115.137.212" class="mui-clearfix">
								<div class="userImg">
									账号：
								</div>
								<div class="content">
									<h1 class="mui-ellipsis">2056401343@qq.com</h1>
								</div>
								<button class="mui-btn mui-btn-blue">复制</button>
							</a>
						</li>
						<li>
							<a href="#chat_1" data-wid="view/dualpage/fullscreen.html" data-view="/view/dualpage/fullscreen.html" data-uri="https://m.baidu.com/" class="mui-clearfix">
								<div class="userImg">
									密码：
								</div>
								<div class="content">
									<h1 class="mui-ellipsis">123456</h1>
								</div>
								<button class="mui-btn mui-btn-blue">复制</button>
							</a>
						</li>
					</ul>
					<ul>
						<h3 style="padding:10px;">账号   4</h3>
						<li>
							<a href="#chat_1" data-wid="view/dualpage/index.html" data-view="/view/dualpage/index.html" data-uri="http://114.115.137.212" class="mui-clearfix">
								<div class="userImg">
									账号：
								</div>
								<div class="content">
									<h1 class="mui-ellipsis">2056401344@qq.com</h1>
								</div>
								<button class="mui-btn mui-btn-blue">复制</button>
							</a>
						</li>
						<li>
							<a href="#chat_1" data-wid="view/dualpage/fullscreen.html" data-view="/view/dualpage/fullscreen.html" data-uri="https://m.baidu.com/" class="mui-clearfix">
								<div class="userImg">
									密码：
								</div>
								<div class="content">
									<h1 class="mui-ellipsis">123456</h1>
								</div>
								<button class="mui-btn mui-btn-blue">复制</button>
							</a>
						</li>
					</ul>
					<ul>
						<h3 style="padding:10px;">账号  5</h3>
						<li>
							<a href="#chat_1" data-wid="view/dualpage/index.html" data-view="/view/dualpage/index.html" data-uri="http://114.115.137.212" class="mui-clearfix">
								<div class="userImg">
									账号：
								</div>
								<div class="content">
									<h1 class="mui-ellipsis">2056401345@qq.com</h1>
								</div>
								<button class="mui-btn mui-btn-blue">复制</button>
							</a>
						</li>
						<li>
							<a href="#chat_1" data-wid="view/dualpage/fullscreen.html" data-view="/view/dualpage/fullscreen.html" data-uri="https://m.baidu.com/" class="mui-clearfix">
								<div class="userImg">
									密码：
								</div>
								<div class="content">
									<h1 class="mui-ellipsis">123456</h1>
								</div>
								<button class="mui-btn mui-btn-blue">复制</button>
							</a>
						</li>
					</ul>
					<ul>
						<h3 style="padding:10px;">账号 6</h3>
						<li>
							<a href="#chat_1" data-wid="view/dualpage/index.html" data-view="/view/dualpage/index.html" data-uri="http://114.115.137.212" class="mui-clearfix">
								<div class="userImg">
									账号：
								</div>
								<div class="content">
									<h1 class="mui-ellipsis">2056401346@qq.com</h1>
								</div>
								<button class="mui-btn mui-btn-blue">复制</button>
							</a>
						</li>
						<li>
							<a href="#chat_1" data-wid="view/dualpage/fullscreen.html" data-view="/view/dualpage/fullscreen.html" data-uri="https://m.baidu.com/" class="mui-clearfix">
								<div class="userImg">
									密码：
								</div>
								<div class="content">
									<h1 class="mui-ellipsis">123456</h1>
								</div>
								<button class="mui-btn mui-btn-blue">复制</button>
							</a>
						</li>
					</ul>
					<ul id="adduser">
						<li>
							<a href="#chat_1" data-wid="view/dualpage/index.html" data-view="/view/dualpage/index.html" data-uri="http://114.115.137.212/login#loginRegister=1" class="mui-clearfix">
								<div class="userImg">
									<img src="../../images/blog.jpg" width="30px" height="30px">
								</div>
								<div class="content">
									<h1 class="mui-ellipsis" style="margin-top:10px">去注册账号</h1>
								</div>
							</a>
						</li>
					</ul>
					
              </div>
              <!--<input type="text" name="" id="" value="" />-->
        </section>
        <script src="../../js/mui.min.js"></script>
        <script src="../../contronller/createView.js"></script>
        <script type="text/javascript">
				mui.init({
					swipeBack: false,
					keyEventBind: {
						backbutton: true //关闭back按键监听
					}
				});
				mui("#adduser").on("tap", "a", function(e) {
	                   var _this = this;
	                   view.openWindow(_this);
				});
			    var copyText=function(obj,callback){
			           if(obj.nodeName.toUpperCase()!=='TEXTAREA'){
			                    var TEXTAREA_id='copyText_TEXTAREA';                    
			                    if(document.getElementById('copyText_TEXTAREA') ){
			                         if(document.getElementById('copyText_TEXTAREA').nodeName.toUpperCase()==='TEXTAREA'){
			                                var textarea = document.getElementById('copyText_TEXTAREA');
			                         }else{
			                                var textarea = document.createElement('textarea');
			                                TEXTAREA_id = copyText_TEXTAREA+Math.random().toString().replace(/\./g,'');
			                         }
			                    }else{
			                         var textarea = document.createElement('textarea');
			                    }
			                    textarea.id=TEXTAREA_id;
			                    textarea.value=obj.innerHTML;
			                    textarea.style.position='fixed';
			                    textarea.style.left='-99999px';
			                    textarea.style.zIndex='-1';
			                   document.getElementsByTagName('body')[0].appendChild(textarea);
			                    textarea.select();document.execCommand('Copy');                    
			                    textarea.blur();
			                    if(callback){
			                          callback();
			                    }
			           }
			    };
			    var _button = document.getElementsByTagName('button');
			    for(var i=0;i<_button.length;i++){
			    	 _buttonEvent(_button[i])
			    }
			    function _buttonEvent(el){
			    	el.addEventListener('click',function(){
			    		var targetInnerHTML = el.parentElement.getElementsByTagName('h1')[0];
			    		console.log(targetInnerHTML);
			    		copyText(targetInnerHTML,function(){
			    			mui.toast('复制成功')
			    		})
			    	},false)
			    }
        </script>
	</body>
</html>
