<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>通讯录</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../model/index.css">
		<style>
			html,
			body {
				background-color: #efeff4;
			}
			
			/*-------------------*/
             .homeList ul li a{position: relative;display: block;background: #fff;}
             .homeList ul li a{border-bottom: 1px solid #e1e1e1;}
             .homeList ul li a .userImg{width: 36px;height: 36px;overflow: hidden;position: absolute;top:7px;left:10px;border-radius: 3px;}
             .homeList ul li a .content{padding:7px 7px 7px 65px;}
             .homeList ul li a h1{font-size: 16px;color:#333;line-height: 36px;}

		</style>
	</head>

	<body>
        <section class="homeList">
              <div id="newFriends" style="padding:30px 0;">
					<ul>
						<li>
							<a href="#chat_1" data-wid="./newfriends.html" data-view="../add/newfriends.html" class="mui-clearfix">
								<div class="userImg">
									<img src="http://127.0.0.1:80/upload/user_img/admin/OsPVmoBSK9WM6eGfBxzB48vp.gif" width="100%" height="100%">
								</div>
								<div class="content">
									<h1 class="mui-ellipsis">新朋友</h1>
								</div>
							</a>
						</li>
					</ul>
              </div>
              <ul id="mail"></ul>
              <div id="noFriends" class="mui-text-center" style="padding:30px 0;color:#999999;display: none;">
              	  还有没有好友？<br/>
              	 <a style="display: inline-block;margin-top:10px;" data-wid="../add/friends.html" data-view="../add/friends.html">添加好友</a>
              </div>
		</section>
		<script src="../../js/mui.min.js"></script>
		<script src="../../contronller/config.js"></script>
		<script src="../../contronller/common.js"></script>
		<script src="../../js/mui.md5.js"></script>
		<script src="../../contronller/createView.js"></script>

		<script>
			mui.init({
				swipeBack: false,
				keyEventBind: {
					backbutton: false //关闭back按键监听
				}
			});
			mui.plusReady(function(){
				 	//点击对应用户跳到用户详情
					mui("body").on("tap", "a", function(e) {
		                   var _this = this;
		                   view.openWindow(_this);
					});
			})
			
			function mailFn(data){
				  var img = config.host + data.user_img;
				  var name = data.rename ? data.rename : data.username;
				  console.log(JSON.stringify(data));
				  return '<a href="#chat_1" data-wid="./chat.html" data-view="../member/userInfo.html?rid='+data.rid+'&fid='+data.fid+'"  id="aid" class="mui-clearfix"><div class="userImg"><img src="'+ img +'" width="100%" height="100%"></div><div class="content"><h1 class="mui-ellipsis">'+ name +'</h1></div></a>';
			}
		    mui.ajax({
			    	url:config.host+'/app/search/mail',
			    	type:'post',
			    	data:{
			    		uid:config.userInfo.id
			    	},
			    	success:function(data){
			    		mui.toast(data.msg);
			    		console.log(JSON.stringify(data))
			    		if(data.code==200){
			    			var mailuL = document.getElementById('mail');
			    			var noFriends = document.getElementById('noFriends');
			    			 if(data.result.length==0){
			    				   noFriends.style.display = 'block';
			    			 }
			    			 for(var i=0;i<data.result.length;i++){
			    			 	   var li = document.createElement('li');
			    			 	   li.innerHTML = mailFn(data.result[i]);	
			    			 	   mailuL.appendChild(li);
			    			 }
		               }
			    		
			    	},
			    	error:function(err){
			    		console.log(err);
			    		mui.toast('连接服务器失败')
			    	}
		    })
			
		</script>
	</body>

</html>