<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta name="HandheldFriendly" content="true"/>
		<meta name="MobileOptimized" content="320"/>
		<title>顶部右边menu菜单导航</title>
		<link rel="stylesheet" href="../../css/mui.min.css">
		<style type="text/css">
			html{background: #333333;}
		</style>
	</head>
	<body>
		<div id="topBox"></div>
		
		<script src="../../js/mui.min.js"></script>
		<script src="../../contronller/topRightMenu.js"></script>
		<script src="../../contronller/createView.js"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: false,
				keyEventBind: {
					backbutton: true //关闭back按键监听
				}
			});
			
			mui.plusReady(function() {
	            var list = [];
	            var menu = plus.webview.currentWebview().menu;
	            function closeMenu(){
				   	plus.webview.currentWebview().hide();
	            }
	            mui.back = function(){
	            	plus.webview.currentWebview().hide();
	            }
	            //var _height = (50 * 3 + 30)+'px';//高*个数+box(padding)//侧滑页面高度（默认100%）
	            // 如果增加/减少list - 》json 数据得去config配置文件修改topRightMenu
	            switch(menu){
	            	case 'home':// 首页    heigth : _height
						  list=[
								   {
									   title:'添加好友',
									   img:'../../images/60x60.gif',//img/icon二选一
									   click:function(){ 
									   	    closeMenu();
									   	    view.openWindow({view:'../add/friends.html',wid:'../add/friends.html'});
									   }
								   },
								   {
									   title:'扫一扫',
									   icon:'mui-icon mui-icon-home',
									   click:function(){
									   	    closeMenu();
									   	    view.openWindow({view:'../scan/index.html',wid:'scanIndex.html',delay:300});				
									   }
								   }
							]
	            	break;
	            }
				new topRightMenu({
					  el:'topBox',//ID
					  list:list
				});
			})
		</script>
	</body>
</html>