<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>通讯录</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css">
		<style>
			  .mui-bar-nav{
			 	background: #333333;
			 	box-shadow: none;
			 }
			 .mui-bar .mui-title,.mui-bar-nav.mui-bar .mui-icon{color: #fff;}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title mui-text-left">折叠面板</h1>
			<a class="mui-icon-contact mui-icon mui-pull-right"></a>
		</header>
		<script src="../../js/mui.min.js"></script>
		<script>
			mui.init({
				swipeBack: false,
				keyEventBind: {
					backbutton: false //关闭back按键监听
				}
			});			
		</script>
	</body>

</html>